/* Previe Styles  */
.main-wrapper {
  position: relative;
  background: #ffffff;
}

.prv-header-area {
  padding: 18px 85px;
  padding-top: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fullscreen.empty-div {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fullscreen.empty-div {
    display: none;
  }
}

.with-particles {
  position: relative;
  z-index: 3;
}
.with-particles .frame-layout__particles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 575px) {
  .with-particles .frame-layout__particles {
    display: none;
  }
}
.with-particles .inner {
  position: relative;
  z-index: 3;
}

.gradient-overlay {
  position: relative;
}

.gradient-overlay::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+7,000000+100&0+50,0.5+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#80000000",GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.prv-banner-wrapper {
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 767px) {
  .prv-banner-wrapper {
    min-height: auto;
    position: static;
    padding: 60px 0;
    background-image: none !important;
    background-color: #f6f6f6;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prv-banner-wrapper {
    min-height: auto;
    position: static;
    padding: 80px 0;
    background-image: none !important;
    background-color: #f6f6f6;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .prv-banner-wrapper {
    min-height: auto;
    position: static;
    padding: 80px 0;
    background-image: none !important;
    background-color: #f6f6f6;
  }
}
.prv-banner-wrapper .inner {
  padding: 35px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .prv-banner-wrapper .inner {
    padding: 35px 0;
  }
}
@media only screen and (max-width: 767px) {
  .prv-banner-wrapper .inner {
    padding: 0;
  }
}
.prv-banner-wrapper .inner .logo img {
  max-height: 70px;
}
.prv-banner-wrapper .inner .title {
  font-size: 23px;
  color: #515462;
  line-height: 42px;
  margin: 30px 0 50px 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .prv-banner-wrapper .inner .title {
    font-size: 20px;
    line-height: 36px;
    margin: 24px 0 40px 0;
  }
}
@media only screen and (max-width: 767px) {
  .prv-banner-wrapper .inner .title {
    margin: 32px 0 20px 0;
  }
}
.prv-banner-wrapper .inner .purshase-btn {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .prv-banner-wrapper .inner .purshase-btn {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media only screen and (max-width: 767px) {
  .prv-banner-wrapper .inner .purshase-btn {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.prv-banner-wrapper .inner .purshase-btn a {
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 767px) {
  .prv-banner-wrapper .inner .purshase-btn a {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .prv-banner-wrapper .inner .purshase-btn a.rn-button-style--2 {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 767px) {
  .prv-banner-wrapper .inner .purshase-btn a.rn-button-style--2 {
    padding: 9px 12px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .prv-banner-wrapper .inner .purshase-btn a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 479px) {
  .prv-banner-wrapper .inner .purshase-btn a + a {
    margin-top: 10px;
  }
}

/*---------------------
    Demo Area  
-----------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-demo-area .wrapper {
    padding: 0 30px !important;
  }
}
@media only screen and (max-width: 767px) {
  .home-demo-area .wrapper {
    padding: 0 30px !important;
  }
}
.home-demo-area .section-title.text-white h2 {
  color: #ffffff;
  margin-bottom: 9px;
}
.home-demo-area .section-title.text-white p {
  color: #ffffff;
  opacity: 0.75;
  font-weight: 300;
}

.bg_color--7 .single-demo {
  position: relative;
}
.bg_color--7 .single-demo a > span {
  display: block;
  text-align: center;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.2px;
}

.single-demo {
  padding: 0 30px;
  margin: 45px 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .single-demo {
    padding: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-demo {
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .single-demo {
    padding: 0px;
    margin: 20px 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-demo {
    padding: 0px;
  }
}
.single-demo a {
  display: block;
  position: relative;
  z-index: 2;
}
.single-demo a img {
  box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.1);
  transition: 0.7s cubic-bezier(0.26, 0.76, 0.3, 0.75);
  width: 100% !important;
  border-radius: 6px;
}
.single-demo a .title {
  display: block;
  text-align: left;
  padding: 25px 0 10px 0;
  color: #1f1f25;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.2px;
  margin: 0;
}
.single-demo a .info {
  display: block;
  padding: 0;
  color: rgba(29, 29, 36, 0.75);
  font-size: 14px;
  font-weight: 300;
  transition: 0.3s ease-in-out;
  line-height: 25px;
}
.single-demo a > span.number {
  display: none;
  position: absolute;
  color: #f6f6f6;
  z-index: -1;
  font-size: 81px;
  bottom: -55px;
  line-height: inherit;
  font-weight: 300;
  letter-spacing: 11px;
}
.single-demo a:hover img {
  transform: translate3d(0, -10px, 0);
  box-shadow: 0 50px 80px -10px rgba(0, 0, 0, 0.17);
}
.single-demo a .label-new {
  position: absolute;
  top: 5px;
  background: #053bff;
  background: linear-gradient(145deg, #053bff 0%, 4164ca 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#053bff", endColorstr="#ee076e",GradientType=1 );
  padding: 9px 14px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  right: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}

/*-------------------
Faq Area  
----------------------*/
.pv-feaq-area .accodion-style--1 .accordion__item + .accordion__item {
  margin-top: 20px;
}
.pv-feaq-area .accodion-style--1 .accordion__item .accordion__heading .accordion__button {
  font-size: 18px;
  padding: 10px 0;
}
.pv-feaq-area .accodion-style--1 .accordion__item .accordion__heading {
  width: 100%;
}
.pv-feaq-area .accodion-style--1 .accordion__item .accordion__heading .accordion__button::after {
  width: 100%;
  height: 1px;
}

/*-------------------
    Tab BUtton  
---------------------*/
.tablist-inner {
  display: inline-block;
}

.pv-tab-button {
  display: flex;
  justify-content: center;
  list-style: none;
  background: rgba(255, 26, 80, 0.03);
  min-width: 570px;
  margin: 0 auto;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-top: 35px;
  flex-wrap: wrap;
  padding: 0;
  padding: 0 36px;
  outline: none;
}
@media only screen and (max-width: 767px) {
  .pv-tab-button {
    margin-bottom: 18px;
    margin-top: 5px;
    padding: 8px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pv-tab-button {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  .pv-tab-button {
    min-width: auto;
  }
}
.pv-tab-button .label {
  position: relative;
}
.pv-tab-button .label::after {
  position: absolute;
  top: 0;
}
.pv-tab-button li {
  padding: 0 14px;
  color: #101010;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 575px) {
  .pv-tab-button li {
    padding: 0 11px;
  }
}
.pv-tab-button li span {
  position: relative;
  display: block;
  padding: 20px 0;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .pv-tab-button li span {
    padding: 11px 0;
  }
}
.pv-tab-button li span::after {
  position: absolute;
  left: 0;
  background: #053bff;
  bottom: 0;
  height: 3px;
  content: "";
}
.pv-tab-button li.react-tabs__tab--selected span {
  color: #053bff;
}
.pv-tab-button li.react-tabs__tab--selected span::after {
  width: 100%;
}

/*-----------------------
Footer Style  
-------------------------*/
.prv-footer .inner h2.title {
  color: #1f1f25;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 65px;
}

a.purchase-btn {
  display: inline-block;
  padding: 0 75px;
  height: 70px;
  line-height: 70px;
  border-radius: 43px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #ffffff;
  background: #1f1f25;
  border: 1px solid #1f1f25;
}
a.purchase-btn:hover {
  color: #1f1f25;
  border: 1px solid #1f1f25;
  background: transparent;
}

/* Feature Area */
.prv-feature .content h3.title {
  color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prv-feature .content h3.title {
    margin-bottom: 13px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .prv-feature .content h3.title {
    margin-bottom: 13px;
    font-size: 20px;
  }
}
.prv-feature .content p.subtitle {
  color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prv-feature .content p.subtitle {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .prv-feature .content p.subtitle {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .prv-feature .content p.subtitle {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
}

.text-white-wrapper a.rn-button-style--2 {
  border: 2px solid #fff;
  color: #fff;
}
