
/*==========================
    Contact Address 
============================*/
.rn-address {
  margin-top: 30px;
  border: 1px solid #ebebeb;
  padding: 40px;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  border-radius: 10px;
  padding-top: 54px;
  background: #fff;
  padding-bottom: 50px;
}
.rn-address .icon {
  border: 1px solid #ebebeb;
  width: 78px;
  height: 78px;
  color: #053bff;
  line-height: 73px;
  text-align: center;
  border-radius: 100%;
  background: #ffffff;
  font-size: 28px;
  position: absolute;
  top: -13px;
  left: 47px;
}
.rn-address .inner h4.title {
  font-size: 18px;
  font-weight: 700;
}
.rn-address .inner p {
  font-size: 18px;
  margin-bottom: 0;
  color: rgba(29, 29, 36, 0.75);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .rn-address .inner p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rn-address .inner p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .rn-address .inner p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .rn-address .inner p br {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rn-address .inner p br {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .rn-address .inner p br {
    display: none;
  }
}
.rn-address .inner p a {
  color: rgba(29, 29, 36, 0.75);
}
.rn-address .inner p a:hover {
  color: #053bff;
}
.rn-address:hover .icon {
  background: #053bff;
  border-color: #053bff;
  color: #fff;
}

.blog-comment-form .inner .rnform-group input:focus,
.blog-comment-form .inner .rnform-group textarea:focus {
  border-color: #053bff;
}
