
/*----------------------
    List Style  
------------------------*/
.list-style--1 li {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 10px;
}
.list-style--1 li i,
.list-style--1 li svg {
  color: #053bff;
  margin-right: 5px;
}
.list-style--1.text-white li {
  color: #ffffff;
}

ul.list-style li {
  position: relative;
  padding-left: 16px;
  color: rgba(29, 29, 36, 0.75);
  font-size: 18px;
  line-height: 25px;
}
@media only screen and (max-width: 767px) {
  ul.list-style li {
    font-size: 16px;
    line-height: 22px;
  }
}
ul.list-style li::before {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(29, 29, 36, 0.75);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  border-radius: 100%;
}
ul.list-style li + li {
  margin-top: 10px;
}
